In [1]:
import pandas as pd

data = pd.Series(["Январь", "Февраль", "Март", "Апрель"],
                 index = ['Первый', "Второй", "Третий", "Четвёртый"])
display(data)

Первый        Январь
Второй       Февраль
Третий          Март
Четвёртый     Апрель
dtype: object

In [2]:
data.loc["Первый"]

'Январь'

In [4]:
data.loc[["Первый", "Третий"]]

Первый    Январь
Третий      Март
dtype: object

In [5]:
data[["Первый", "Третий"]]

Первый    Январь
Третий      Март
dtype: object

In [6]:
data.iloc[0]

'Январь'

In [7]:
data.iloc[[0, 2]]

Первый    Январь
Третий      Март
dtype: object

In [8]:
data = pd.Series(list(range(10, 1001)))
print(data.loc[10] + data.loc[23] - data.loc[245] + data.iloc[122])

-70

In [9]:
data.loc[10]

20

In [10]:
data.loc[23]

33

In [11]:
data.loc[245]

255

In [12]:
data.iloc[122]

132

In [15]:
data.loc[990]

1000

In [16]:
pd.Series(["Кот", "Собака", "Корова", "Лемур"], index = [3,7,12,26])

3        Кот
7     Собака
12    Корова
26     Лемур
dtype: object

In [17]:
pd.Series([3,7,12,26], index = ["Кот", "Собака", "Корова", "Лемур"])

Кот        3
Собака     7
Корова    12
Лемур     26
dtype: int64

In [19]:
df = pd.DataFrame({'col1': [1, 2, 12, 16], 'col2': [3, 4, 24, 33]})
display(df)

   col1  col2
0     1     3
1     2     4
2    12    24
3    16    33

In [20]:
df = pd.DataFrame([ [1,2,3], [2,3,4] ],
                  columns = ['foo', 'bar', 'baz'], 
                  index = ['foobar', 'foobaz'])
display(df)

        foo  bar  baz
foobar    1    2    3
foobaz    2    3    4

In [23]:
pd.DataFrame({'Тестовая колонка':[1,5]})

   Тестовая колонка
0                 1
1                 5

In [26]:
pd.read_csv('data_sf.xls')

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
0,0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF,84,95,...,75,96,33,28,26,6,11,15,14,8
1,1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST,84,94,...,85,95,28,31,23,7,11,15,14,11
2,2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW,79,87,...,81,94,27,24,33,9,9,15,15,11
3,3,De Gea,27,Spain,Manchester United,72000000,260000,GK,17,13,...,40,68,15,21,13,90,85,87,88,94
4,4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM,93,82,...,79,88,68,58,51,15,13,5,10,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [30]:
import pandas as pd

football = pd.read_csv('data_sf.xls')
display(football.tail(7))

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
12890,13119,J. Young,18,Scotland,Swindon Town,450000,1000,ST,28,47,...,58,50,15,17,14,11,15,12,12,11
12891,13120,D. Walsh,18,Republic of Ireland,Waterford FC,60000,1000,RB,22,23,...,38,43,44,47,53,9,10,9,11,13
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [38]:
import pandas as pd

football = pd.read_csv('data_sf.xls')
display(football.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
Unnamed: 0         12897 non-null int64
Name               12897 non-null object
Age                12897 non-null int64
Nationality        12897 non-null object
Club               12897 non-null object
Value              12897 non-null int64
Wage               12897 non-null int64
Position           12897 non-null object
Crossing           12897 non-null int64
Finishing          12897 non-null int64
HeadingAccuracy    12897 non-null int64
ShortPassing       12897 non-null int64
Volleys            12897 non-null int64
Dribbling          12897 non-null int64
Curve              12897 non-null int64
FKAccuracy         12897 non-null int64
LongPassing        12897 non-null int64
BallControl        12897 non-null int64
Acceleration       12897 non-null int64
SprintSpeed        12897 non-null int64
Agility            12897 non-null int64
Reactions          12897 non-null int64
Balance            12897 non-null int64
ShotPower          12897 non-null int64
Jumping            12897 non-null int64
Stamina            12897 non-null int64
Strength           12897 non-null int64
LongShots          12897 non-null int64
Aggression         12897 non-null int64
Interceptions      12897 non-null int64
Positioning        12897 non-null int64
Vision             12897 non-null int64
Penalties          12897 non-null int64
Composure          12897 non-null int64
Marking            12897 non-null int64
StandingTackle     12897 non-null int64
SlidingTackle      12897 non-null int64
GKDiving           12897 non-null int64
GKHandling         12897 non-null int64
GKKicking          12897 non-null int64
GKPositioning      12897 non-null int64
GKReflexes         12897 non-null int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

None

In [41]:
import pandas as pd

football = pd.read_csv('data_sf.xls')
football.describe(include=['object'])

                Name Nationality             Club Position
count          12897       12897            12897    12897
unique         12326         156              650       27
top     J. Rodríguez     England  Shonan Bellmare       GK
freq               9        1368               30     1641

In [42]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(football.describe())

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,44.264403,40.321625,50.115143,55.463596,63.109715,63.205629,61.819648,59.430565,63.171978,52.530666,64.285415,61.123052,64.271614,43.971931,53.777933,44.875940,47.166008,50.843374,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,17.781283,16.718481,15.215160,16.692643,15.129988,14.903845,14.858729,8.875832,14.190700,16.975214,11.765467,16.194498,12.550696,18.769749,17.232716,20.188799,19.245882,13.745960,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,6.000000,3.000000,9.000000,5.000000,12.000000,12.000000,15.000000,21.000000,16.000000,2.000000,15.000000,12.000000,17.000000,3.000000,11.000000,3.000000,2.000000,10.000000,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,32.000000,29.000000,40.000000,51.000000,55.000000,55.000000,53.000000,54.000000,55.000000,42.000000,57.000000,54.000000,57.000000,29.000000,41.000000,24.000000,35.000000,42.000000,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,45.000000,39.000000,53.000000,60.000000,66.000000,66.000000,64.000000,59.000000,65.000000,56.000000,65.000000,64.000000,65.000000,47.000000,56.000000,51.000000,52.000000,52.000000,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,58.000000,52.000000,61.000000,65.000000,74.000000,73.000000,72.000000,65.000000,73.000000,65.000000,72.000000,72.000000,73.000000,59.000000,67.000000,62.000000,61.000000,60.000000,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,93.000000,94.000000,93.000000,96.000000,97.000000,96.000000,96.000000,96.000000,96.000000,95.000000,95.000000,96.000000,97.000000,94.000000,95.000000,92.000000,95.000000,94.000000,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [49]:
import pandas as pd

football = pd.read_csv('data_sf.xls')
football.describe()

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,...,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,...,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,...,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,...,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,...,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,...,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,...,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [2]:
import pandas as pd

df = pd.DataFrame([[i,i+1.2,i+2, 'hi'] for i in range(10)],
                  columns = ['foo', 'bar', 'baz', 'foobar'])
df.mean()

foo    4.5
bar    5.7
baz    6.5
dtype: float64

In [3]:
df = pd.DataFrame([[i,i+1.2,i+2, 'hi'] for i in range(10)],
                  columns = ['foo', 'bar', 'baz', 'foobar'])
df['foo']
df.bar

0     1.2
1     2.2
2     3.2
3     4.2
4     5.2
5     6.2
6     7.2
7     8.2
8     9.2
9    10.2
Name: bar, dtype: float64

In [4]:
df = pd.DataFrame([ [1,2,3], [2,3,4] ],
                  columns = ['foo', 'bar', 'baz'], 
                  index = ['foobar', 'foobaz'])
display(df)

        foo  bar  baz
foobar    1    2    3
foobaz    2    3    4

In [5]:
df = pd.DataFrame([[i,i+1.2,i+2, 'hi'] for i in range(10)],
                  columns = ['foo', 'bar', 'baz', 'foobar'])
df.bar.mean()

5.7

In [25]:
import pandas as pd

football = pd.read_csv('data_sf.xls')
football.Value.mean()

2112449.4068388

In [22]:
import pandas as pd
football = pd.read_csv('data_sf.xls')

football[(football.Age < football.Age.mean())&(football.Club == 'FC Barcelona')]

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
42,42,S. Umtiti,24,France,FC Barcelona,57000000,205000,CB,69,51,...,61,82,90,89,86,15,10,14,12,15
141,141,O. Dembélé,21,France,FC Barcelona,40000000,155000,RW,78,78,...,75,75,42,30,33,6,6,14,10,13
190,190,Arthur,21,Brazil,FC Barcelona,32500000,125000,LCM,70,72,...,69,84,65,76,70,6,13,13,11,12
195,195,C. Lenglet,23,France,FC Barcelona,26000000,135000,LCB,36,23,...,43,74,85,82,81,10,10,9,12,7
235,235,Nélson Semedo,24,Portugal,FC Barcelona,20000000,125000,RB,74,50,...,38,75,75,78,79,16,12,10,14,12
1464,1515,Aleñá,20,Spain,FC Barcelona,6000000,58000,CM,66,66,...,73,70,70,62,48,12,9,10,8,12
5377,5539,Chumi,19,Spain,FC Barcelona,1000000,11000,CB,38,30,...,50,62,70,65,63,7,14,9,11,14
5613,5777,Jorge Cuenca,18,Spain,FC Barcelona,850000,11000,CB,40,27,...,44,57,62,66,63,10,12,5,14,12
6124,6293,Guillem Jaime,19,Spain,FC Barcelona,975000,13000,RW,63,54,...,49,66,52,55,56,9,11,12,10,6
7312,7493,Ezkieta,21,Spain,FC Barcelona,525000,10000,GK,16,12,...,24,33,13,17,15,65,58,59,59,64
9028,9226,Iñaki Peña,19,Spain,FC Barcelona,450000,4000,GK,10,6,...,17,38,9,10,11,63,57,64,57,62

In [23]:
import pandas as pd
football = pd.read_csv('data_sf.xls')

football[(football.Age < football.Age.mean())&(football.Club == 'FC Barcelona')].Wage.mean()

77454.54545454546

In [57]:
import pandas as pd

football = pd.read_csv('data_sf.xls')

football[football.Wage == football.Wage.max()].Position

0    RF
Name: Position, dtype: object

In [58]:
import pandas as pd

football = pd.read_csv('data_sf.xls')

football[football.Nationality == 'Brazil'].Penalties.sum()

22789

In [60]:
import pandas as pd

football = pd.read_csv('data_sf.xls')

football[football.HeadingAccuracy > 50].Age.mean()

25.58771113179944

In [71]:
import pandas as pd

football = pd.read_csv('data_sf.xls')

football[(football.Composure > 0.9 * football.Composure.max())&(football.Reactions > 0.9 * football.Reactions.max())].Age.min()

24

In [94]:
import pandas as pd

football = pd.read_csv('data_sf.xls')

football[football.Reactions > football.Reactions.mean()].Age

0        31
1        33
2        26
3        27
4        27
         ..
12190    21
12226    18
12231    20
12629    19
12785    18
Name: Age, Length: 6339, dtype: int64

In [7]:
import pandas as pd

football = pd.read_csv('data_sf.xls')

football[football.Value > football.Value.mean()].Nationality.describe().top

'Spain'

In [105]:
import pandas as pd
football = pd.read_csv('data_sf.xls')

football[(football.Age < football.Age.mean())].Wage.mean()

4440.5010438413365

In [107]:
import pandas as pd

football = pd.read_csv('data_sf.xls')

football[(football.Age == football.Age.min())].Reactions.mean()

49.357142857142854

In [113]:
import pandas as pd

football = pd.read_csv('data_sf.xls')

football[(football.Age == football.Age.max())].Reactions.mean()

72.0

In [14]:
import pandas as pd

football = pd.read_csv('data_sf.xls')

football[(football.Age == football.Age.max())].Reactions.mean() - football[(football.Age == football.Age.min())].Reactions.mean()

22.642857142857146

In [18]:
import pandas as pd

football = pd.read_csv('data_sf.xls')

football[(football.Position == 'GK') & (football.GKReflexes == football.GKReflexes.max())].Wage.mean() / football[(football.Position == 'GK') & (football.GKHandling == football.GKHandling.max())].Wage.mean()

2.765957446808511

In [24]:
import pandas as pd

football = pd.read_csv('data_sf.xls')

football[(football.Aggression == football.Aggression.max())].ShotPower.mean() / football[(football.Aggression == football.Aggression.min())].ShotPower.mean()

2.076923076923077